@import "reset.css";

:root {
  /* color */
  --color-purple-dark: #5f0080;
  --color-purple-bright: rgb(189, 118, 255);
  --color-black-dark: #333;
  --color-gray-dark: #999;
  --color-gray-bright: #ccc;
  --color-gray-bg: rgb(247, 247, 247);
  --color-red-bright: #fa622f;

  /* width */
  --main-width: 1050px;
}

/* common */
body {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  list-style: none;
}

a {
  color: var(--color-black-dark);
  text-decoration: none;
}

.inner {
  position: relative;
  width: var(--main-width);
  margin: 0 auto;
}

.makeCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 헤더배너  */
.bnr_header {
  position: relative;
  min-width: 1050px;
  background-color: var(--color-purple-dark);
  line-height: 42px;
  text-align: cneter;
}

.bnr_header a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.6px;
  color: white;
}

.bnr_header a b {
  font-weight: 700;
}

.bnr_header a img {
  width: 40px;
  height: 40px;
}

.bnr_header .closeBtn {
  position: absolute;
  top: 0;
  right: -15px;
}

.bnr_header .closeBtn img {
  width: 42px;
  height: 42px;
}

/* userMenu */
.userMenu {
  margin-top: 4px;
}

.userMenu .bnr_delivery img {
  width: 121px;
  height: 22px;
}

.userMenu .list_menu .menu {
  display: flex;
  justify-content: center;
  font-size: 12px;
  letter-spacing: -0.3px;
  line-height: 25px;
}

.userMenu .list_menu .menu::after {
  content: "";
  width: 1px;
  height: 13px;
  margin: 8px 12px;
  background-color: #d8d8d8;
}

.userMenu .list_menu .menu:last-child:after {
  display: none;
}

.userMenu .list_menu .menu .join {
  font-weight: 400;
  color: var(--color-purple-dark);
}

.userMenu .list_menu .menu .menu_list img {
  margin-left: 4px;
  margin-bottom: 2px;
  width: 8px;
  height: 5px;
}

/* 로고 */

.headerLogo .inner {
  display: flex;
  justify-content: center;
}

.headerLogo .logoImg {
  position: relative;
  top: -25px;
  width: 103px;
  height: 79px;
}
