@import "reset.css";

:root {
  /* color */
  --color-purple-dark: #5f0080;
  --color-purple-bright: rgb(189, 118, 255);
  --color-black-dark: #333;
  --color-gray-dark: #999;
  --color-gray-bright: #ccc;
  --color-gray-bg: rgb(247, 247, 247);
  --color-red-bright: #fa622f;

  /* width */
  --main-width: 1050px;
}

/* common */
body {
  font-family: "Noto Sans KR", sans-serif;
  list-style: none;
}

a {
  color: var(--color-black-dark);
  text-decoration: none;
}

.inner {
  position: relative;
  width: var(--main-width);
  margin: 0 auto;
}

/* 헤더배너  */
.bnr_header {
  position: relative;
  min-width: 1050px;
  background-color: var(--color-purple-dark);
  line-height: 42px;
  font-size: 16px;
  text-align: cneter;
}

.bnr_header a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -1px;
  color: white;
}

.bnr_header a b {
  font-weight: 700;
}

.bnr_header a img {
  width: 50px;
  height: 50px;
}

.bnr_header .closeBtn {
  position: absolute;
  top: -1px;
  right: -80px;
}

.bnr_header .closeBtn img {
  width: 50px;
  height: 50px;
}
